<h4> The Salesforce page below has been automatically authenticated using the Currently Logged in User's SAML authorization token </h4>

<iframe style="width:100%; height:90%" src="http://saml-idp.jfrizelle.ofoghlu.net/simplesaml/saml2/idp/SSOService.php?spentityid=https://johnfriz01.my.salesforce.com&RelayState=https://johnfriz01.my.salesforce.com/home/home.jsp" />