<% layout('layout') -%>

<h5> As part of this demo app, we have linked salesforce to our SAML Authetication Server. </h5>

<h5> This means that it is not necessary to log into salesforce seperately as you are already authenticated. </h5>

<h5> Please <a href target="_blank" src="http://saml-idp.jfrizelle.ofoghlu.net/simplesaml/saml2/idp/SSOService.php?spentityid=https://johnfriz01.my.salesforce.com&RelayState=https://johnfriz01.my.salesforce.com/home/home.jsp">Click Here</a> to launch salesforce in a new window. </h5>